.add_customer-wrap{
 position: relative;
}
.add_customer-from {
    margin-bottom: 1.2rem;
}
.add_customer-from li{
    display: flex;
    justify-content: space-between;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 0.3rem;
}
.add_customer-from li input {
    border: none;
}
.add_customer-from li span {
    font-size: 0.26rem;
    color: #666;
    border: none;
    outline: none;
}
.add_customer_footer-wrap{
    display: flex;
    align-items: center;
    width: 93.34%;
    padding: 0 3.33%;
    position: fixed;
    bottom: 0.4rem;
}
.btn-cancel {
    display: inline-block;
    text-align: center;
    background: #E0E0E0;
    flex-grow: 1;
    height: 0.8rem;
    line-height: 0.8rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #333;
    text-decoration: none;
    font-size: 0.28rem;
}
.btn-save {
    display: inline-block;
    text-align: center;
    background: #009EFF;
    flex-grow: 1;
    height: 0.8rem;
    line-height: 0.8rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.28rem;

}
